<div class="menuSide">
    <div class="menuListItems">
        <a asp-page="/Property/Index">
            <div class="menuItems">
                <i class="fa fa-table" aria-hidden="true"></i>
                <span>Data Source</span>
            </div>
        </a>
        <a asp-page="/Property/IndexDB">
            <div class="menuItems">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span>DB Data</span>
            </div>
        </a>
    </div>
</div>